<div class="container">
  <h1 class="title">User Registration</h1>
  <form class="form">
    <input type="email" name="email" class="input" placeholder="Email" />

    <div class="password-group">
      <input
        type="password"
        name="password"
        class="input"
        placeholder="Password"
      />
      <div class="bars">
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="strength"></div>
      </div>
    </div>

    <button class="button"><span>Sign Up</span></button>
  </form>
</div>
